@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primarioClaro: #f0f8ff;
    --primarioOscuro: #323840;
    --secundario: #2fa1ff;
}

html{
    background-color: var(--primarioClaro);
}

nav{
    background-color: var(--secundario);
    display: block;
    justify-content: space-between;
}
/* @media (min-width: 900px){
    nav{
        display: flex;
        justify-content: space-between;
        height: 75px;
    }
} */

nav .logo{
    background-image: url(../logos/LogoClaro.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* @media (min-width: 900px){
    nav ul{
        display: block;
        text-align: right;
    }
} */

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: var(--primarioClaro);
    font-weight: bold;
    font-size: 16px;
    display: block;
    padding: 10px;
    transition: 0.5s;
    margin-right: 50px;
    width: 100%;
}
/* @media (min-width: 900px){
    nav ul li a{
        width: auto;
    }
} */

nav ul li a:hover{
    background-color: var(--primarioClaro);
    color: var(--secundario);
    transition: 0.5s;
}


