@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --blanco: #fff;
    --primarioClaro: #f0f8ff;
    --primarioOscuro: #323840;
    --secundario: #2fa1ff;
}

html{
    font-size: 62.5%;
    background-color: var(--blanco);
}

/* NAVEGACION */
nav{
    background-color: var(--secundario);
    display: block;
    justify-content: space-between;
}
@media (min-width: 900px){
    nav{
        display: flex;
        justify-content: space-between;
        height: 7.5rem;
    }
}
.logo img{
    
    width: 100%;
}
@media (min-width: 900px){
    nav .logo img{
        width: auto;
        height: 100%;
    }
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}
@media (min-width: 900px){
    nav ul{
        display: block;
    }
}

nav ul li{
    display: inline-block;
    height: 100%;
}

nav ul li a{
    text-decoration: none;
    color: var(--primarioClaro);
    font-weight: bold;
    font-size: 1.6rem;
    display: block;
    padding: 1rem;
    transition: 0.5s;
    margin-right: 5rem;
    width: 100%;
    height: 100%;
}
@media (min-width: 900px){
    nav ul li a{
        width: auto;
    }
}

nav ul li a:hover{
    background-color: var(--primarioClaro);
    color: var(--secundario);
    transition: 0.5s;
}

/* CONTENEDORES */
.sobremi,
.habilidades,
.proyectos,
.contacto{
    background-color: var(--primarioClaro);
    border: solid 0.2rem;
    border-radius: 2rem;
    margin: 2.5rem;
    display: flex;

}

/* SOBREMI */
.sobremi .imgpro{
    background-image: url(../logos/programador.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.sobremi .sobremitext{
    width: 75%;
    margin: 1rem;
}

/* HABILIDADES */
.habilidades{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.habilidades .frontEnd,
.habilidades .backEnd{
    list-style-type: none;
}

.habilidades .frontEnd svg,
.habilidades .backEnd svg{
    border: solid 0.2rem;
}

.habilidades .frontEnd svg:hover{
    
}

/* PROYECTOS */


/* CONTACTO */

